{% extends "boilerplate.html" %}
{% block title %} Edit notes | MyNotes {% endblock %}
{% block content %}
    <div class="container">
        <h1>Edit Note</h1>
        <form action="/edit/" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" id="title" name="title" class="form-control" value="{{ note.title }}" required>
                <input type="hidden" id="id" name="id" class="form-control" value="{{ note.id }}" required>
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">Description</label>
                <textarea id="desc" name="desc" class="form-control" rows="3" required>{{ note.desc }}</textarea>
            </div>
            <div class="mb-3">
                <label for="important" class="form-check-label">Important</label>
                <input type="checkbox" id="important" name="important" class="form-check-input" {% if note.important %} checked {% endif %}>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>

{% endblock %}