{% extends "boilerplate.html" %}
{% block title %} Home | MyNotes {% endblock %}
{% block content %}
    <div class="container">
        <h1>This is the body using templates in FastAPi <br></h1>
        <h4>{{ res }} <br></h4>
    </div>

    <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">The notes can be: </h2>
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            <!-- <ul>{% for data in datas %}
                <li>{% for da in data %} {{ da }} - {{ data[da] }}<br> {% endfor %}</li>
                {% endfor %}
            </ul> -->
            {% if datas %}
            {% for data in datas %}
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
                    <!-- style="background-image: url('unsplash-photo-3.jpg');"> -->
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{ data.title }}</h3>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill"></use>
                                </svg>
                                <small>{{ data.desc }}</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3"></use>
                                </svg>
                                <!-- <small>{{ data.important }}</small> -->
                            </li>
                        </ul>
                        <div class="mt-3 d-flex justify-content-between">
                            <!-- Edit Form -->
                            <form action="/edit/{{ data.id }}" method="get">
                                <button class="btn btn-primary" type="submit">Update Note</button>
                            </form>

                            <!-- Delete Form -->
                            <form action="/delete/{{ data.id }}" method="post">
                                <button class="btn btn-danger" type="submit">Delete Note</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h2 class="pb-2 border-bottom">There are no notes to be found </h2>
            {% endif%}
        </div>
    </div>

    <div class="container">
        <h1>Add your own Note</h1>
        <form action="/" method="post">
            <div class="m-3">
                <label for="title" class="form-label">Note Title</label>
                <input type="text" class="form-control" name="title" aria-describedby="emailHelp">
                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="m-3">
                <label for="desc" class="form-label">Note Description</label>
                <input type="text" class="form-control" name="desc" aria-describedby="emailHelp">
                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="m-3 form-check">
                <input type="checkbox" class="form-check-input" name="important">
                <label class="form-check-label" for="important">Important?</label>
            </div>
            <button type="submit" class="m-3 btn btn-primary">Submit</button>
        </form>
    </div>

{% endblock %}
