<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello From FastAPi</title>
</head>
<body>
    This is the body using templates in FastAPi <br>
    {{ res }} <br>
    <div class="container">
        The datas can be: <br>
        <!-- <ul>{% for data in datas %}
            <li>{% for da in data %} {{ da }} - {{ data[da] }}<br> {% endfor %}</li>
            {% endfor %}
        </ul> -->
        <ul></ul>
    </div>
</body>
</html>