{% extends "boilerplate.html" %}
{% block title %} Sign Up | MyNotes {% endblock %}
{% block content %}

    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                    <div class="d-flex flex-column align-items-center justify-content-center w-100">
                        <h1 class="mb-4 text-center">Sign Up</h1>
                        <p class="fs-14 text-gray text-center mb-4">Create an account to manage your notes.</p>
    
                        <form method="post" class="w-100">
                            {% if Status %}
                            <div class="form-group py-2 text-danger"><p class='text-center'>{{ Status }}</p></div>
                            {% endif %}
                            <div class="form-group mb-3">
                                <label for="username">Username <span class="required">*</span></label>
                                <input type="text" name="username" id="username" class="form-control" placeholder="Username" required>
                                <div class="invalid-feedback">This field is required</div>
                            </div>
    
                            <div class="form-group mb-3">
                                <label for="full_name">Full Name <span class="required">*</span></label>
                                <input type="text" name="full_name" id="full_name" class="form-control" placeholder="Full Name" required>
                                <div class="invalid-feedback">This field is required</div>
                            </div>
    
                            <div class="form-group mb-3">
                                <label for="email">Email address <span class="required">*</span></label>
                                <input type="email" name="email" id="email" class="form-control" placeholder="Email Address" required>
                                <div class="invalid-feedback">This field is required</div>
                            </div>
    
                            <div class="form-group mb-3">
                                <label for="password">Password <span class="required">*</span></label>
                                <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                                <div class="invalid-feedback">This field is required</div>
                            </div>
    
                            <div class="form-group mb-3">
                                <label for="confirm_password">Confirm Password <span class="required">*</span></label>
                                <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="Confirm Password" required>
                                <div class="invalid-feedback">This field is required</div>
                            </div>
    
                            <div class="form-group mb-3">
                                <label for="age">Age </label>
                                <input type="number" name="age" id="age" class="form-control" placeholder="Age">
                                <div class="invalid-feedback">This field is required</div>
                            </div>
    
                            <div class="form-group mb-4">
                                <input type="submit" class="btn btn-primary w-100" value="Sign Up">
                            </div>
    
                        </form>
    
                        <p class="text-gray-soft text-center small mb-2">By clicking "Sign Up" you agree to our <a href="#">Terms of Service</a>.</p>
                        <p class="text-gray-soft text-center small mb-2">Already have an account? <a href="/">Sign In</a></p>
    
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
